# Optional overrides — defaults are set in variables.tf
# app_name            = "saasapi"
# resource_group_name = "rg-cloudnova"
# key_vault_name      = "kv-cloudnova"
# location            = "canadacentral"

ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... your-public-key"
