location             = "canadacentral"
app_name             = "saasapi"
resource_group_name  = "rg-cloudnova-dev"
key_vault_id         = "/subscriptions/<subscription-id>/resourceGroups/rg-cloudnova-dev/providers/Microsoft.KeyVault/vaults/kv-cloudnova-dev"
ssh_public_key       = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC... your-public-key"
